*,
html {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: beige;
}

#page1 {
    background: url(./images/homegif.gif) center center fixed;
    background-size: cover;
}

#menu {
    width: 900px;
    position: relative;
    top: 50px;
    left: 650px;

}

#menu li {
    display: inline;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    font-size: 1.5em;
}

#menu a {
    padding: 0 5px;
    text-decoration: none;
}

#menu li:hover {
    color: brown;
}

#logo {
    width: 250px;
    position: absolute;
    left: 15px;
    margin: 0 50px auto;
}

#script {
    width: 790px;
    border: 1px solid lightblue;
    background: rgba(255, 122, 89, .2);
    border-color: bisque;
    height: 350px;
    display: flex;
    margin-top: 250px;
    margin-left: 75px;
}

h2 {
    font-size: 2.1em;
    margin-top: 70px;
    margin-left: 25px;
}

.sub_text {
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px;
    padding: 20px;
    margin-left: 30px;
}

h3 {
    font-size: 1.5em;
    margin-left: 24em;
}

#top {
    width: 90%;
    border: 1px solid rgb(248, 247, 247);
    background: rgba(77, 72, 71, 0.2);
    height: 500px;
    display: flex;
    margin-top: 200px;
    margin-left: 70px;
}

#text {
    margin-top: -25px;
    padding: 20px;
}

.title1 {
    font-size: 1.5em;
    margin-top: 50px;
    /* border: 1px solid red; */
    text-align: left;
    position: relative;
    left: 12px;
}

.moreinfo {
    width: 75px;
    background: rgb(122, 114, 114, 0.2);
    /* background-size: 5px; */
    font-size: .9em;
    margin-top: 50px;
    /* border:1px solid red; */
    position: relative;
    left: 5px;
    text-align: left;
    ;

}

.about_text {
    position: relative;
    left: 30px;
    font-weight: bold;
    margin-top: 1em;
    font-size: 1.1em;
    padding: 2px;
    text-align: justify;
    margin-right: 40px;
}

.contact_text {

    margin: 10px;
    padding: 20px;
    width: 300px;
}

.images {
    margin: 50px;
    height: min-content;
    width: 40%;
}

#contact {
    width: 70%;
    margin: 0 auto;
    display: flex;
    margin-top: 200px;
    border: 1px solid rgb(248, 247, 247);
    background: rgba(77, 72, 71, 0.2);
}

.title2 {
    position: relative;
    font-size: 1.5em;
    margin-top: 70px;
    margin-left: 95px;
}

.map {
    position: relative;
    margin: 20px 50px;
    width: 40%;
    left: 50px;
}

.contact_text {
    position: relative;
    font-weight: bold;
    margin-top: 4em;
    font-size: 1.1em;
    padding: 2px;
    text-align: left;
    margin-left: 90px;
}

#combine {
    width: 90%;
    border: 1px solid rgb(248, 247, 247);
    background: rgba(77, 72, 71, 0.2);
    margin-top: 200px;
    height: 620px;
    display: flex;
    margin-left: 90px;
    /* width: 90vw;
    margin: 0 auto; */
}

.event_images {
    /* align-content: center; */
    margin: 50px 5px 5px 100px;
    display: block;
    width: 350px;
    height: 250px;
}

#one,
#two,
#three {

    display: flex;
    flex-direction: column;
    width: 30vw;
}

.event_text {
    margin: 10px;
    padding: 40px;
    width: 30vw;
}

.center {
    margin-top: 20px;
    width: 26vw;
    text-align: center;
}

.event_subtext {
    /* text-align: justify; */
    font-weight: bold;
    margin: 5px 20px 20px;
    line-height: 2em;
}

.pastor_title {
    position: relative;
    font-size: 1.7em;
    margin-top: 70px;
    margin-left: 60px;
}

.pastor_images {
    position: relative;
    margin: 20px 50px;
    width: 40%;
    left: 50px;
}

.pastor_subtext {
    width: 30vw;
    text-align: justify;
    font-size: 1.1em;
    font-weight: bold;
    margin: 15px 60px 20px;
    line-height: 2em;
}

footer {
    padding-left: 70px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    line-height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;